.mainholder{
  background-color:#9E8459;
  float:left;
  max-height: 50%;

}

.button{
  width: 15%;
  height: 40%;
  line-height: 1;
  font-size: 1em;
  background: transparent;
  border-radius: 3px;
  margin:2% 1% 2% 2%;
  outline:none;
}

.button:hover{
  background-color: #D7BB77;
}

#pic{
  max-width: 50%;
  float:left;


}

.subholder{
  float:left;
  width: 40%;
  /* background-color:#5E5489; */
  margin:1em 1em 2em 2em;

}

#iframe{

  height: 40%;
}

.p{
  font-size: 0.85em;
}
